* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    height: 200px;
    background-color: rgb(0, 77, 64);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

div#titulos {
    width: 100%;
}

h1 , h3 {
    color: azure;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h3{
    text-align: center;
}

#icone {
    justify-content: center;
    font-size: 3rem;
    width: 5%;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    color: rgb(0, 77, 64);
}

div#divicone {
    display: flex;
    width: 80%;
    justify-content: center;
    top: 170px;
    position: absolute;
}

fieldset {
    padding: 5px;
    width: 40%;
    border: 2px solid darkgray;
    margin: 0 auto;
    height: 400px;
}

section {
    width: 100%;
    height: 400px;
    margin: 40px auto;
}

legend {
    text-align: center;
}

label {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    font-family: 'Comic Neue', cursive;
}

.txt {
    width: 100%;
    height: 30px;
    font-family: 'Comic Neue', cursive;
}

div#divform {
    width: 80%;
    margin: 0 auto;
}

#buscar {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(0, 77, 64);
    color: azure;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(33, 33, 33, 0.6);
    font-family: 'Comic Neue', cursive;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.380);
}